*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    border: 3px solid purple; 
    color: greenyellow;
}
input::placeholder{
    color: #f40d2f;7
}

p::first-letter{
    color:blueviolet
}
p::first-line{
    color: rgb(12, 65, 88);
}
a::before{
    content:"-->";
}